.order {
    display: flex;
    align-items: center;
    justify-content: end;
}

.positionElemFixStart {
    position: sticky;
    float: inline-start;
    top: 0;
}

.positionElemFixEnd {
    position: sticky;
    float: inline-start;
    bottom: 0;
}