.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40.4px;
}

.text {
    text-align: center;
}

.shadow {
    text-shadow: #681abb 0 0 10px;
}