.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.orders {
    display: flex;
    justify-content: end;
}

.info {
    display: flex;
    justify-content: start;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
