.background {
    border-radius: 35px;
    background: #1C1C21;
}

.numberAndDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredientsAndPrice {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

.price {
    display: flex;
    align-items: center;
    justify-content: end;
}